/*
 * 863px: PC container width
 */

body {
  background-image: url('./img/1.png');
  margin: 8px 0px;
  text-align: center;
  font-family: 'Lato', 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  font-weight: 500;
}

.container {
  text-align: center;
  width: 863px;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 863px) {
  .container {
    max-width: 540px;
    width: 100%;
  }
}

#header {
  margin-top: 150px;
  margin-bottom: 62px;
}
#header h1 {
  font-weight: normal;
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 0;
}
h1 .h1-one, h1 .h1-two {
  display: block;
}
h1 .h1-one {
  font-weight: bold;
  font-size: 76px;
}
@media all and (max-width: 863px) {
  #header {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #header h1 {
    font-size: calc(25px + 1.5vw);
  }
  h1 .h1-one {
    font-size: calc(42px + 1.5vw);
  }
}

#header time {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 44px;
  font-weight: bold;
  margin-top: 28px;
}
@media all and (max-width: 863px) {
  #header time {
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
    font-size: calc(25px + 1.5vw);
  }
}

#header {
}

section {
  margin-top: 100px;
}
@media all and (max-width: 863px) {
  section {
    margin-top: 50px;
  }
  #header, section {
    padding-left: calc(50 / 640 * 100vw);
    padding-right: calc(50 / 640 * 100vw);
  }
}

.theme-block {
}

.theme-block .theme-block-content {
  margin-top: calc(31px / 2 * -1);

  box-sizing: border-box;
  width: 100%;
  height: 154px;

  border: 3px solid;
  border-image-source: url('./img/frame-border.svg');
  border-image-slice: 52.5; /*FIXME:*/
  border-image-width: 35px 35px;
  border-image-repeat: round;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media all and (max-width: 863px) {
  .theme-block .theme-block-content {
    border-image-width: 52.5px;
    height: 120px;
  }
}

.theme-block .theme-block-header {
  position: relative;
  z-index: 10; /* FIXME: */

  background-image: url('./img/frame-top.svg');
  background-position: center;
  background-repeat: no-repeat;

  height: 31px;
}
.theme-block-header h2 {
  display: inline-block;
  background-color: white;
  margin: 0;
  line-height: 31px;
  font-size: 24px;
}
@media all and (max-width: 863px) {
  .theme-block-header h2 {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: calc(16px + 0.5vw);
  }
  .theme-block .theme-block-header {
    background-image: url('./img/frame-top-sp.svg');
  }
}
@media all and (max-width: 320px) {
  .theme-block .theme-block-header {
    background-image: url('./img/frame-top-sp2.svg');
  }
}


.theme-block-content {
}
.theme-ja {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.theme-en {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
@media all and (max-width: 863px) {
  .theme-ja {
    font-size: calc(16px + 1vw);
  }
  .theme-en {
    font-size: calc(16px * 0.6 + 1vw);
  }
}

#links {
  margin-top: 30px;
}

#links > nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 863px) {
  #links > nav {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -8px;
  }
  #links > nav .btn {
    margin-bottom: 8px;
  }
}

.btn {
  display: block;

  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #fff;

  box-sizing: border-box;
  width: 420px;
  height: 117px;

  line-height: calc(117px - 8px);
  border: 0px solid white;
}
.btn:before {
  content: "";
  float: left;
  margin-left: 7%;
  width: 12px;
  height: calc(117px - 8px);
}
.btn:after {
  background-image: url('./img/btn-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  float: right;
  margin-right: 7%;
  width: 12px;
  height: calc(117px - 8px);
}
@media all and (max-width: 863px) {
  .btn {
    width: 100%;
    height: 75px;
    line-height: calc(75px - 4px);
    font-size: calc(13px + 1vw);
  }
  .btn:after {
    height: calc(75px - 4px);
  }
}

.btn1 {
  border-image-source: url('./img/btn1.svg');
  border-image-slice: 10 fill;
  border-image-width: 10px;
  border-image-repeat: round;
}

.btn2 {
  border-image-source: url('./img/btn2.svg');
  border-image-slice: 10 fill;
  border-image-width: 10px;
  border-image-repeat: round;
}


#theme {
  margin-top: 0px;
}

section > h2 {
  font-weight: bold;
  font-size: 52px;
  margin-top: 0;
  margin-bottom: 43px;
}
h2 .h2-one, h2 .h2-two {
  display: block;
}
h2 .h2-two {
  margin-top: 8px;
  font-weight: bold;
  font-size: 20px;
}
@media all and (max-width: 863px) {
  section > h2 {
    font-size: calc(40px + 1vw);
  }
  h2 .h2-two {
    margin-top: 0;
    font-size: calc(40px * 0.3 + 1vw);
  }
}

.timetable {
}

.timetable .tt-row:first-child {
  border-top: 3px solid #000;
}
.timetable .tt-row {
  border-bottom: 3px solid #000;
  min-height: 137px;
}
.tt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.tt-time {
  flex-basis: 20%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 26px;
}
.tt-content {
  text-align: left;
  margin-bottom: 10px;
}
td.tt-event-type-talk .tt-content:first-child {
  border-bottom: 1px dotted #999;
}
td.tt-event-type-talk .tt-content {
  padding: 10px 5px;
}
td.tt-event-type-special-talk {
  padding: 10px 5px;
}
.tt-avatar {
  flex-shrink: 1;
  padding: 0 10px;
}
.tt-avatar img {
  height: 100px;
  width: 100px;
}
.tt-content p {
  margin: 0;
}
.tt-title {
  font-weight: bold;
  font-size: 20px;
}
.tt-speaker {
  font-weight: normal;
  font-size: 14px;
}
p.tt-slide {
  margin-top: 6px;
  color: #000;
}

.tt-venue {
  border-radius: 5px;
  padding: 3px 5px;
  height: min-content;
  width: 60px;
  white-space: nowrap;
}
.tt-venue.main {
  background-color: rgba(163,7,36, 0.1);
}
.tt-venue.sub {
  background-color: rgba(119, 155, 240, 0.3);
}

td.tt-time {
  width: 20%;
}
td.tt-event-type-special-talk, td.tt-event-type-break, td.tt-event-type-talk {
  width: 80%;
}
td.tt-event-type-special-talk {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
td.tt-event-type-talk {
  justify-content: start;
}
td.tt-event-type-talk .tt-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
td.tt-event-type-break .tt-title {
  text-align: center;
}

td.tt-event-type-lt .tt-content {
  padding: 20px 30px;
}
td.tt-event-type-lt .tt-content .tt-summary {
  margin-bottom: 6px;
}
td.tt-event-type-lt .tt-content p.tt-title {
  font-size: 18px;
}

@media all and (max-width: 863px) {
  section#schedule {
    padding-left: calc(25 / 640 * 100vw);
    padding-right: calc(25 / 640 * 100vw);
  }
  .tt-avatar {
    flex-basis: 10%;
    min-width: 60px;
    max-width: 100px;
  }
  .tt-avatar img {
    width: 100%;
    height: 100%;
  }
  .tt-content {
    flex-basis: 60%;
    padding-left: calc(10px + 0.1vw);
  }
  .tt-time {
    font-size: 24px;
  }
  .tt-title {
    font-size: 16px;
    line-height: 1.3;
  }
  .tt-speaker {
    font-size: 14px;
  }
}
@media all and (max-width: 450px) {
  .tt-time {
    font-size: 18px;
  }
  .timetable .tt-row {
    min-height: 50px;
    padding: 8px 0;
    align-items: center;
  }
  .tt-avatar img {
    width: 60px;
  }
  td.tt-event-type-talk .tt-content {
    flex-direction: inherit;
  }
  .tt-venue {
    font-size: 80%;
    width: auto;
  }

}


.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsors .sponsor {
  width: 410px;
  max-width: 410px;
  margin-bottom: 38px;
  font-size: 16px;
}

.sponsor-img {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 245px;
  max-height: 245px;
  border: 3px solid #000;
}
.sponsor-img img {
  vertical-align: middle;
  width: auto;
  max-height: 100%;
}
.sponsor h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.sponsor p {
  text-align: left;
  margin: 0;
}
@media all and (max-width: 863px) {
  .sponsors {
    flex-direction: column;
    align-items: center;
  }
  .sponsors .sponsor {
    width: calc(540 / 640 * 100vw);
  }
  .sponsor-img {
    border: 2px solid black;
    height: calc(326 / 640 * 100vw);
  }
}

.access-map {
  width: 100%;
  height: 340px;
  margin-bottom: 36px;
}
.access-map iframe {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 340px;
}
