/*
 * 863px: PC container width
 */

body {
  background-image: url('./img/1.png');
  text-align: center;
  font-family: 'Lato', 'YuGothic', sans-serif;
}

.container {
  text-align: center;
  width: 863px;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 863px) {
  .container {
    max-width: 540px;
    width: 100%;
  }
}

#header {
  margin-top: 177px;
}

#header h1 {
  font-family: 'Lato', 'YuGothic', sans-serif;
  font-weight: normal;
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 0;
}
h1 .h1-one, h1 .h1-two {
  display: block;
}
h1 .h1-one {
  font-weight: bold;
  font-size: 76px;
}
@media all and (max-width: 863px) {
  #header h1 {
    font-size: calc(25px + 1.5vw);
  }
  h1 .h1-one {
    font-size: calc(42px + 1.5vw);
  }
}

#header time {
  display: block;
  font-family: 'Avenir Next', 'Lato', sans-serif;
  font-size: 44px;
  font-weight: bold;
  margin-top: 28px;
}
@media all and (max-width: 863px) {
  #header time {
    font-family: 'Lato', sans-serif;
    font-size: calc(25px + 1.5vw);
  }
}

#header {
  margin-bottom: 62px;
}

section {
  margin-top: 100px;
}
@media all and (max-width: 863px) {
  section {
    padding-left: calc(20 / 640 * 100vw);
    padding-right: calc(20 / 640 * 100vw);
  }
}

#theme {
  padding-top: calc(35px / 2);
}

.theme-block {
  box-sizing: border-box;
  width: 100%;
  height: 154px;

  border: 3px solid;
  border-image-source: url('./img/frame-border.svg');
  border-image-slice: 35;
  border-image-width: 35px 35px;
  border-image-repeat: round;
}
@media all and (max-width: 863px) {
  .theme-block {
    border-image-width: 24px 24px;
  }
}

.theme-block .theme-block-header {
  background-image: url('./img/frame-top.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-top: calc(31px / 2 * -1);
  height: 31px;
}
.theme-block-header h2 {
  display: inline-block;
  background-color: white;
  margin: 0;
  line-height: 31px;
  font-size: 24px;
}
@media all and (max-width: 863px) {
  .theme-block-header h2 {
    font-size: calc(20px + 0.5vw);
  }
  .theme-block .theme-block-header {
    background-image: url('./img/frame-top-sp.svg');
  }
}

.theme-block-content {
  margin-top: calc(35px / 2);
}
.theme-ja {
  font-size: 28px;
  font-weight: bold;
  font-family: 'YuGothic', sans-serif;
  margin: 0;
}
.theme-en {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#links {
  margin-top: 30px;
}

#links > nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 863px) {
  #links > nav {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -8px;
  }
  #links > nav .btn {
    margin-bottom: 8px;
  }
}

.btn {
  display: block;
  font-family: 'YuGothic', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  width: 420px;
  height: 117px;
  line-height: calc(117px - 8px);
}
@media all and (max-width: 863px) {
  .btn {
    font-size: 26px;
  }
}
@media all and (max-width: 400px) { /* < button width (420px - margin10*2)*/
  .btn {
    width: 270px;
    height: 75px;
    font-size: 14px;
    line-height: calc(75px - 4px);
  }
}

.btn1 {
  background-image: url('./img/btn1-pc.svg');
   background-repeat: no-repeat;
}

.btn2 {
  background-image: url('./img/btn2-pc.svg');
  background-repeat: no-repeat;
}


#theme {
  margin-top: 0px;
}

section > h2 {
  font-family: 'Lato', 'YuGothic', sans-serif;
  font-weight: bold;
  font-size: 52px;
  margin-top: 0;
  margin-bottom: 43px;
}
h2 .h2-one, h2 .h2-two {
  display: block;
}
h2 .h2-two {
  margin-top: 8px;
  font-weight: bold;
  font-size: 20px;
}
@media all and (max-width: 863px) {
  section > h2 {
    font-size: 60px;
  }
  h2 .h2-two {
    font-size: 22px;
  }
}

.timetable {
}

.timetable .tt-row:first-child {
  border-top: 3px solid #000;
}
.timetable .tt-row {
  border-bottom: 3px solid #000;
  height: 137px;
}
.tt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.tt-time {
  flex-basis: 20%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 26px;
}
.tt-content {
  flex-basis: 55%;
  text-align: left;
}
.tt-avatar {
  flex-shrink: 2;
}
.tt-avatar img {
  height: 100px;
  width: 100px;
}
.tt-content p {
  margin: 0;
}
.tt-title {
  font-weight: bold;
  font-size: 20px;
}
.tt-speaker {
  font-weight: normal;
  font-size: 14px;
}


.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsors .sponsor {
  width: 410px;
  max-width: 410px;
  margin-bottom: 38px;
  font-size: 16px;
}

.sponsor-img {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 245px;
  max-height: 245px;
  border: 3px solid #000;
}
.sponsor-img img {
  vertical-align: middle;
  width: auto;
  max-height: 100%;
}
.sponsor h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.sponsor p {
  text-align: left;
  margin: 0;
}
@media all and (max-width: 863px) {
  .sponsors {
    flex-direction: column;
    align-items: center;
  }
  .sponsors .sponsor {
    width: calc(540 / 640 * 100vw);
  }
  .sponsor-img {
    border: 2px solid black;
    height: calc(326 / 640 * 100vw);
  }
}

.access-map {
  width: 100%;
  height: 340px;
  margin-bottom: 36px;
}
.access-map iframe {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 340px;
}
