body {
  background-image: url('/img/1.png');
  text-align: center;
  font-family: 'Lato', 'YuGothic', sans-serif;
}

.container {
  width: 863px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#header h1 {
  font-family: 'Lato', 'YuGothic', sans-serif;
  font-weight: normal;
  font-size: 46px;
}
h1 .h1-one, h1 .h1-two {
  display: block;
}
h1 .h1-one {
  font-weight: bold;
  font-size: 76px;
}

#header time {
  display: block;
  font-family: 'Avenir Next', sans-serif;
  font-size: 44px;
  font-weight: 500;
}

#theme {
  padding-top: 35px;
}

.theme-block {
  box-sizing: border-box;
  width: 100%;
  height: 154px;

  border: 3px solid;
  border-image-source: url('/img/frame-border.svg');
  border-image-slice: 35;
  border-image-width: 35px 35px;
  border-image-repeat: round;
}

.theme-block .theme-block-header {
  background-image: url('/img/frame-top.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -35px;
}

.theme-block .theme-block-header {
  background-image: url('/img/frame-top.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -35px;
}

.theme-ja {
  font-size: 28px;
  font-weight: bold;
  font-family: 'YuGothic', sans-serif;
  margin: 0;
}
.theme-en {
  font-size: 22px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

a.btn1, a.btn2 {
  display: block;
  font-family: 'YuGothic', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  width: 420px;
  height: 117px;
  line-height: calc(117px - 8px);
}

.btn1 {
  background-image: url('/img/btn1-pc.svg');
  background-repeat: no-repeat;
}

.btn2 {
  background-image: url('/img/btn2-pc.svg');
  background-repeat: no-repeat;
}

#links > nav {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section > h2 {
  font-family: 'Lato', 'YuGothic', sans-serif;
  font-weight: bold;
  font-size: 52px;
  margin-bottom: 38px;
}
h2 .h2-one, h2 .h2-two {
  display: block;
}
h2 .h2-two {
  margin-top: 8px;
  font-weight: bold;
  font-size: 20px;
}

.timetable {
}

.timetable .tt-row:first-child {
  border-top: 3px solid #000;
}
.timetable .tt-row {
  border-bottom: 3px solid #000;
  height: 137px;
}
.tt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.tt-time {
  flex-basis: 20%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 26px;
}
.tt-content {
  flex-basis: 55%;
  text-align: left;
}
.tt-avatar {
  flex-shrink: 2;
}
.tt-avatar img {
  height: 100px;
  width: 100px;
}
.tt-content p {
  margin: 0;
}
.tt-title {
  font-weight: bold;
  font-size: 20px;
}
.tt-speaker {
  font-weight: bold;
  font-size: 14px;
}


.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsors .sponsor {
  width: 410px;
  margin-bottom: 38px;
  font-size: 16px;
}
.sponsor-img {
  background-color: white;
  width: 407px;
  height: 245px;
  border: 3px solid #000;
}
.sponsor-img img {
  vertical-align: middle;
  width: auto;
  max-height: 100%;
}
.sponsor h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.sponsor p {
  text-align: left;
  margin: 0;
}
